@charset "UTF-8";

/* 回答はここに書いてね */
.q2__content__box {
  background-color: #ecf1f2;
  width: 940px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.q2__content__text {
  font-size: 18px;
  line-height: 22px;
  /* 折り返し制御↓ */
  word-break: break-all;
}

.left_img {
  float: left;
  margin: 0px 20px 10px 0px;
}

.right_img {
  float: right;
  margin: 0px 0px 10px 20px ;
}
/* 回答はここに書いてね */
