@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7__float__text {
  float: left;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin-right: 50px;
}

.q7__float__text:last-child {
  margin-right: 0px;
}

.q7__table__inner {
  display: table;
}

.q7__table__box {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  padding-right: 50px;
}

.q7__table__box:last-child {
  padding-right: 0px;
}

.q7__inlineblock__inner {
  font-size: 0;     /* inline-blockをかける要素の親要素にこれをつけると要素の間の隙間がなくなる */
}

.q7__inlineblock__text {
  font-size: 16px;    /* ここで再度フォント指定しないと消える… */
  width: 225px;
  display: inline-block;      /* インラインブロック要素にする */
  box-sizing: border-box;
  vertical-align: middle;
  margin-right: 50px;
}

.q7__inlineblock__text:last-child {
  margin-right: 0px;
}

.q7__flex__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7__flex__box {
  width: 225px;
  box-sizing: border-box;
}

.margin_inner {
  font-size: 0;     /* inline-blockをかける要素の親要素にこれをつけると要素の間の隙間がなくなる */
}

.margin_box {
  display: inline-block;    
  font-size: 16px;    /* ここで再度フォント指定しないと消える… */
  box-sizing: border-box;
  vertical-align: top;
}

.margin_right_box {
  width: 300px;
}

.margin_left_box {
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  /* width: calc(100% - 350px); */
}



/* 回答はここに書いてね */
